@using SecureSystem.Models

@{
    ViewBag.Title = "Все продукты";
}
@model IEnumerable<Product>
<table class="table">
    <tr>
        <th>
            <a asp-action="SecureSys" asp-route-sortOrder="@ViewBag.NameSort">
                Имя
            </a>
        </th>
        <th>
            <a asp-action="SecureSys" asp-route-sortOrder="@ViewBag.PriceSort">
                Цена
            </a>
        </th>
        <td>
            Характеристики
        </td>
        <td>
            Описание
        </td>
    </tr>
    @foreach (var product in Model)
    {
<tr>
    <td>@product.Name</td>
    <td>@product.Price</td>
    <td>@product.Specifications</td>
    <td>@product.Discription</td>

    <td>
    <a asp-controller="Order" asp-action="Order" asp-route-id="@product.ProductId">Оформить заказ</a>
    </td>
</tr>
    }
</table>